*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}

header{
    background: url('unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);;
    
}

header h1, header p{
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
   
}

.header-content{
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

header h1{
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

header p {
    font-size: 1rem;
    margin-top: 10px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* hero section */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 40px;
    /* border: 2px solid black; */
}

.hero-section .para{
    flex: 1;
    /* padding-right: 20px; */
    margin: 20px; 
    padding: 10px; 
    font-size: large;
}

.hero-section .image1{
    flex: 1;
}

.hero-section img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

